<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Altetsa</title>
    <meta name="title" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/style.min.css">

    <script defer src="../js/choise.min.js"></script>
    <script defer src="../js/script.js"></script>
</head>
<body>
    <header class="header contacts__header">
        <button class="header__humburger">
            <picture>
                <source media="(min-width: 769px)" srcset="../icons/humbB.svg">
                <source media="(max-width: 768px)" srcset="../icons/humb-mob-dark.svg">
                <img src="../icons/humburger.svg" alt="">
            </picture>    
        </button>
        <button class="header__close">
            <picture>
                <source media="(min-width: 769px)" srcset="../icons/close.svg">
                <source media="(max-width: 768px)" srcset="../icons/close-mob.svg">
                <img src="../icons/close.svg" alt="">
            </picture>
        </button>
        <a href="../index.html" class="header__logo">
            <picture>
                <source media="(min-width: 769px)" srcset="../img/header/logoB.svg">
                <source media="(max-width: 768px)" srcset="../img/header/logo-temp.svg">

                <img src="../img/header/logoB.svg" alt="Altesta">
            </picture>
            
        </a>
        <a href="tabs.html" class="btn btn__header">
            Let's Work Together
        </a>
        <nav class="header__menu">
            <ul class="header__nav-items">
                <li class="header__nav-item">
                    <a href="about.html"><b>О нас</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> About</a>
                </li>
                <li class="header__nav-item">
                    <a href="services.html"><b>Услуги</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Skills</a>
                </li>
                <li class="header__nav-item  price-item">
                    <a href="price.html"><b>Цены</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Price</a>
                </li>
                <li class="header__nav-item">
                    <a href="contacts.html"><b>Kонтакты</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Contact</a>
                </li>
                <li class="header__nav-item no-item">
                </li>
                <li class="header__nav-item support-item">
                    <a href="policies.html"><b>политики</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Support</a>
                </li>
            </ul>
            <img src="../img/header/menu-pic.png" alt="меню" class="header__nav-img">
            <h3 class="hero__descr nav__descr">altetsa</h3>
        </nav>
    </header>

    <section class="tabs policies">
        <div class="title-group wow animate__animated animate__fadeInDown animate__repeat-1">
            <span class="title-shadow">Policies</span>
            <h1 class="title"><span>Наши</span> политики</h1>
            <span class="divider"></span>
            <h2 class="subtitle">principles of operation</h2>
        </div>

        <div class="tabs__container wow animate__animated animate__zoomIn">
            <div class="tabs__btns ">
                <button class="tabs__btn policies__btn tabs__btn_active">
                    Policies
                </button>

                <button class="tabs__btn policies__btn">
                    Terms of Service
                </button>

                <button class="tabs__btn policies__btn">
                    Help center
                </button>
            </div>

            <div class="tabs__content">
                    <div class="contacts__wrapper">
                        <div class="contacts__form-wrapp wow animate__animated animate__fadeInBottomRight">
                            <div class="contacts__form-wrapp-title">Altetsa</div>
                            <h2 class="contacts__title">
                                Privacy policy
                            </h2>
                            <p class="contacts__descr">
                                Защита вашей конфиденциальности важна для компании Altetsa Group 
                            </p>
                            <p class="contacts__descr">
                                Защита вашей конфиденциальности важна для "Altetsa Group“ (”Altetsa Group")
                            </p>
                            <p class="contacts__descr">
                                Altetsa Group предоставляет услуги и разрабатывает программное обеспечение, помогающее продавцам лучше или эффективнее продавать онлайн через различные платформы, такие как Shopify. Компания Altetsa Group приняла настоящую Политику конфиденциальности (“Политика конфиденциальности”), чтобы помочь вам в сборе, использовании, хранении и раскрытии Личной информации (“Персональные данные”, как описано ниже), которую вы можете предоставлять при использовании веб-сайтов, приложений и услуг, созданных компанией Altetsa Group, в связи с этими платформами (совместно именуемыми “Услуги”). Список наших приложений доступен на нашем веб-сайте. Altetsa Group рекомендует вам ознакомиться с настоящей Политикой конфиденциальности, а также с нашими Условиями использования, чтобы понять, как мы собираем и обрабатываем Персональные данные в ходе предоставления Услуг и вашего взаимодействия с Услугами.
                            </p>
                            <p class="contacts__descr">
                                Пользуясь Услугами, вы соглашаетесь на сбор, использование, хранение и раскрытие ваших Персональных данных для обработки, как описано в настоящей Политике конфиденциальности, и с учетом ограничений, изложенных в ней.
                            </p>
                            <p class="contacts__descr">
                                Персональные данные - это любая информация, которая позволяет идентифицировать человека прямо или косвенно в сочетании с данными из других источников. Например, полное имя, домашний или рабочий адрес, номер телефона, национальный идентификационный номер (SSN, SIN и т.д.), адрес электронной почты, банковские реквизиты, IP-адрес, биометрические данные, данные об использовании или любая информация, которая может индивидуально идентифицировать человека.
                            </p>
                            <p class="contacts__descr">
                                Altetsa Group может собирать Персональные данные, включая, помимо прочего, ваше имя, адреса доставки и выставления счетов, номер телефона...
                            </p>

                            <p class="contacts__descr">
                                Altetsa Group также может создавать обезличенные или анонимизированные данные из Персональных данных, исключая компоненты данных (такие как ваше имя, адрес электронной почты и т.д.), которые позволяют идентифицировать вас лично, путем запутывания или другими способами. Кроме того, Altetsa Group может собирать и использовать обобщенную анонимную информацию для предоставления данных об Услугах рекламодателям, потенциальным деловым партнерам и другим не аффилированным организациям. Поскольку эта информация не идентифицирует личность и, следовательно, не является Персональными данными, использование Altetsa Group таких агрегированных, анонимизированных и/или обезличенных данных не подпадает под действие настоящей Политики конфиденциальности.
                            </p>

                            <p class="contacts__descr">
                                Мы можем собирать такие данные, как, но не ограничиваясь ими: области Услуг или веб-сайты, созданные Altetsa Group, которые вы посещаете, типы транзакций, которые вы совершаете или запрашиваете (и их суммы), контент, который вы просматриваете, ваш IP-адрес, данные, загруженные или отправленные вами, платежная информация, предоставленная вами, информация о доставке и выставлении счетов, введенная вами, а также характер, количество и цена товаров или услуг, которыми вы обмениваетесь, а также физические или юридические лица, с которыми вы общаетесь или ведете бизнес с использованием Услуг.
                            </p>

                            <p class="contacts__descr">
                                В случае если Altetsa Group запросил Персональные данные для сценариев, не зависящих от вышеперечисленных, таких как вопросы, связанные с маркетингом, с помощью анкет, опросов и данных профиля, он будет включать конкретный запрос на согласие. Запрос на согласие будет содержать четкую цель и цель сбора Персональных данных, а также средства отзыва согласия. В этих сценариях мы можем запросить такие данные, как, но не ограничиваясь ими: ваша контактная информация (имя, номера телефонов, адрес электронной почты, почтовый адрес), дата рождения, информация о продукте и/или косметических проблемах, какие бренды и продукты вы используете, аутентификация пользователя и информация о безопасности (например, имя пользователя и пароль).
                            </p>

                            <p class="contacts__descr">
                                Если в какой-либо момент вы захотите отозвать согласие на сбор персональных данных, пожалуйста, свяжитесь с Altetsa Group через раздел "Контакты и вопросы" в нижней части этой Политики конфиденциальности. Пожалуйста, обратите внимание, что некоторые Услуги могут быть предложены или предоставлены вам только в том случае, если вы раскроете Персональные данные, необходимые для оказания этих Услуг, и поэтому компания Altetsa Group может не предоставить вам определенные Услуги в том случае, если вы решите не раскрывать эти Персональные данные компании Altetsa Group.
                            </p>

                            <p class="contacts__descr">
                                Возраст согласия <br>
                                Услуги, предлагаемые Altetsa Group, предназначены и предназначены для использования лицами старше совершеннолетия в вашей провинции, штате или стране. Лицам, не достигшим совершеннолетия, не разрешается самостоятельно пользоваться Услугами, и Altetsa Group не будет утверждать заявки, создавать или поддерживать учетные записи или членство для любых лиц, не достигших совершеннолетия в соответствующем регионе.
                            </p>

                            <p class="contacts__descr">
                                Altetsa Group не запрашивает и сознательно не собирает Персональные данные у лиц, не достигших совершеннолетия в своем регионе. Если мы обнаружим, что получили Персональные данные лица, не достигшего совершеннолетия, мы удалим такую информацию из наших систем. Кроме того, если родитель или законный опекун считает, что Персональные данные несовершеннолетнего, находящегося на их попечении, были предоставлены Altetsa Group, они могут запросить исправление или удаление информации несовершеннолетнего, связавшись с сотрудником по вопросам конфиденциальности Altetsa Group через раздел "Контакты и вопросы" в нижней части этой Политики конфиденциальности.
                            </p>



                            <p class="contacts__descr">
                                Когда вы взаимодействуете с сервисом Altetsa Group, аналогично большинству других веб-сайтов, приложений и онлайн-сервисов, определенная анонимная техническая информация о вашем посещении автоматически регистрируется и собирается Altetsa Group. Это может включать информацию о типе используемого вами браузера, операционной системе, дате и времени доступа к Сервису, ссылках, к которым вы обращались во время использования Сервиса, и интернет-адресе веб-сайта, если таковой имеется, который напрямую связан с Сервисом, созданным Altetsa Group. Эта информация используется в целях системного администрирования, таких как диагностика проблем с Сервисами, серверами и веб-сайтами Altetsa Group, сбор агрегированной и статистической информации, а также для улучшения работы и содержания веб-сайтов и Сервисов Altetsa Group. Он не идентифицирует личность, не считается Персональными данными и не подпадает под действие настоящей Политики конфиденциальности.
                            </p>
                            <p class="contacts__descr">
                                Altetsa Group будет хранить, и обрабатывать ваши персональные данные в безопасных местах. Altetsa Group может передавать данные за пределы Канады для целей обработки и выполнения транзакций, связанных с Услугами, или для целей выполнения транзакций от имени продавцов, которые установили и используют приложения Altetsa Group в своих интернет-магазинах. В случае такой передачи будут по-прежнему применяться меры безопасности, изложенные в настоящей Политике конфиденциальности.
                            </p>
                            <p class="contacts__descr">
                                Персональные данные будут храниться компанией Altetsa Group только в течение времени, необходимого для выполнения цели или завершения транзакции, для которой они были собраны, или в соответствии с требованиями закона. После этого Персональные данные, находящиеся во владении или под контролем Altetsa Group, будут анонимизированы или надежно уничтожены.
                            </p>
                            <p class="contacts__descr">
                                Правовая основа для обработки <br>
                                В этом разделе рассматривается правовая основа для обработки ваших Персональных данных, если вы проживаете за пределами Канады и в Европейской экономической зоне (в Канаде вы обычно даете согласие, когда получаете уведомление об этой Политике конфиденциальности в (или через) ссылку на веб-сайт или мобильное приложение).
                            </p>
                            <p class="contacts__descr">
                                Законное основание для обработки <br>
                                Закон о защите данных в Европейском Союзе требует “законной основы” для сбора и хранения Персональных данных граждан или резидентов Европейской экономической зоны. Altetsa Group собирает и обрабатывает ваши Персональные данные для различных целей, изложенных в настоящей Политике конфиденциальности. В некоторых случаях отдельное согласие на такую обработку не требуется.
                            </p>
                        </div>
                    </div>
            </div>

            <div class="tabs__content">
                <div class="contacts__wrapper">
                    <div class="contacts__form-wrapp wow animate__animated animate__fadeInBottomRight">
                        <div class="contacts__form-wrapp-title">Altetsa</div>
                        <h2 class="contacts__title">
                            Terms of service
                        </h2>
                        <p class="contacts__descr">
                            Условия предоставления услуг ("Условия")
                            Последнее обновление: 01 апреля 2021 г.
                        </p>
                        <p class="contacts__descr">
                            Пожалуйста, внимательно прочитайте настоящие Условия предоставления услуг ("Условия", "Условия предоставления услуг") перед использованием http://altetsa.ru веб-сайт ("Сервис"), управляемый компанией Altetsa Group ("мы", "мы" или "наш").
                        </p>
                        <p class="contacts__descr">
                            Ваш доступ к услугам, предлагаемым Altetsa Group, и их использование обусловлены вашим принятием и соблюдением настоящих Условий. Эти Условия распространяются на всех посетителей, пользователей и других лиц, которые получают доступ к Сервису или пользуются им.
                        </p>
                        <p class="contacts__descr">
                            Получая доступ к Сервису или используя его, вы соглашаетесь соблюдать настоящие Условия. Если вы не согласны с какой-либо частью условий, вы не можете получить доступ к Сервису. Начиная проект с Minion Made, вы соглашаетесь с этими условиями и политикой.
                        </p>
                        <p class="contacts__descr">
                            Ссылки на другие сайты
                            Наш Сервис может содержать ссылки на сторонние веб-сайты или сервисы, которые не принадлежат или не контролируются компанией Minion Made.
                        </p>
                        <p class="contacts__descr">
                            Altetsa Group не контролирует и не несет ответственности за содержание, политику конфиденциальности или действия любых сторонних веб-сайтов или сервисов и не несет за них никакой ответственности. Вы также признаете и соглашаетесь с тем, что Altetsa Group не несет прямой или косвенной ответственности за любой ущерб или убытки, причиненные или предположительно причиненные в результате или в связи с использованием или доверием к любому такому контенту, товарам или услугам, доступным на или через любые такие веб-сайты или услуги.
                        </p>
                        <p class="contacts__descr">
                            Мы настоятельно рекомендуем вам ознакомиться с условиями и положениями и политикой конфиденциальности любых сторонних веб-сайтов или сервисов, которые вы посещаете.
                        </p>
                        <p class="contacts__descr">
                            Прекращение <br>
                            Мы можем немедленно прекратить или приостановить доступ к нашему Сервису без предварительного уведомления или ответственности по любой причине, в том числе, без ограничений, если вы нарушаете Условия. Altetsa Group имеет право отклонить запрос на возврат средств по любым и всем запросам на отмену проекта от клиентов и/или клиентов.
                        </p>
                        <p class="contacts__descr">
                            Отмена проекта разработки должна быть запрошена в письменной форме в течение 48 часов после оплаты. Запросы на отмену по истечении 48-часового периода могут быть отклонены. Клиент несет ответственность за любые и все связанные с этим расходы до отмены бронирования.
                        </p>
                        <p class="contacts__descr">
                            Любое прекращение действия повторяющегося плана должно быть явно отправлено в письменной форме, чтобы избежать дополнительной платы или продолжения повторяющихся сборов. Если Altetsa Group не получит явного запроса на отмену или изменение учетной записи за 15 дней до следующего расчетного периода и не ранее чем через 15 дней после начала предыдущего расчетного периода, Altetsa Group оставляет за собой право продолжить цикл выставления счетов учетной записи.
                        </p>
                        <p class="contacts__descr">
                            Все положения Условий, которые по своей природе должны оставаться в силе после прекращения действия, остаются в силе после прекращения действия, включая, помимо прочего, положения о праве собственности, отказ от гарантий, возмещение убытков и ограничения ответственности.
                        </p>
                        <p class="contacts__descr">
                            Платеж <br>
                            Altetsa Group оставляет за собой право самостоятельно корректировать и обеспечивать соблюдение графика платежей в зависимости от проекта. Если Altetsa Group сочтет, что планирование проекта будет более длительным, чем первоначально предполагалось, из-за задержки клиента, Altetsa Group оставляет за собой право выставить счет на остаток по проекту, если в проекте есть остаток.
                            
                        </p>
                        <p class="contacts__descr">
                            Содержание <br>
                            Altetsa Group не несет ответственности за контент наших клиентов. Ожидается, что наши клиенты будут предоставлять любой и весь контент. Altetsa Group не несет ответственности за какой-либо контент клиента или интеллектуальную собственность этого контента.
                            
                        </p>
                        <p class="contacts__descr">
                            Altetsa Group имеет право отображать работу и активы предыдущих клиентов на нашем веб-сайте, если только вас не попросят, не делать этого в письменной форме.
                        </p>
                        <p class="contacts__descr">
                            Сходство с брендом и отзывы <br>
                            Altetsa Group оставляет за собой право делиться и продвигать сходство с клиентами посредством отзывов и/или рекламных акций проекта, если мы не получим письменного запроса об этом от конкретного клиента или компании.
                            
                        </p>

                        <p class="contacts__descr">
                            Наша неспособность обеспечить соблюдение какого-либо права или положения настоящих Условий не будет рассматриваться как отказ от этих прав. Если какое-либо положение настоящих Условий будет признано судом недействительным или не имеющим законной силы, остальные положения настоящих Условий останутся в силе. Настоящие Условия представляют собой полное соглашение между нами в отношении нашего Сервиса и заменяют и заменяют любые предыдущие соглашения, которые мы могли бы заключить между нами в отношении Сервиса.
                        </p>
                        <p class="contacts__descr">
                            Изменения <br>
                            Мы оставляем за собой право, по нашему собственному усмотрению, изменять или заменять настоящие Условия в любое время. Если изменение является существенным, мы постараемся предоставить уведомление, по крайней мере, за 30 дней до вступления в силу любых новых условий. Что представляет собой существенное изменение, будет определено по нашему собственному усмотрению.
                            
                        </p>
                        <p class="contacts__descr">
                            Продолжая получать доступ к нашему Сервису или пользоваться им после вступления в силу этих изменений, вы соглашаетесь соблюдать пересмотренные условия. Если вы не согласны с новыми условиями, пожалуйста, прекратите пользоваться Сервисом.
                        </p>
                        <p class="contacts__descr">
                            Если у вас есть какие-либо вопросы по поводу этих Условий, пожалуйста, свяжитесь с нами.
                        </p>
                    </div>
                </div>
            </div>

            <div class="tabs__content">
                <div class="contacts__wrapper">
                    <div class="contacts__form-wrapp wow animate__animated animate__fadeInBottomRight">
                        <div class="contacts__form-wrapp-title">Altetsa</div>
                        <h2 class="contacts__title">
                            Help center
                        </h2>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    <footer class="footer">
        <div class="wow animate__animated animate__fadeInDown">
            <h2 class="footer__title">
                Мы создаем и поддерживаем крутые проекты 
                    для клиентов по всему миру
            </h2>
            <p class="footer__subtitle">Узнайте как увеличить прибыль в вашем E-commerce-проекте</p>
            <a href="tabs.html" class="btn footer__btn">Узнать<span>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.300049 1.4L4.90005 6L0.300049 10.6L1.70005 12L7.70005 6L1.70005 1.66948e-08L0.300049 1.4Z" fill="white"/>
                    </svg>
                </span>
            </a>
        </div>
        <div class="footer__wrapper wow animate__animated animate__zoomIn">
            <div class="footer__item">
                <h3 class="footer__item_title">Контакты</h3>
                <p class="footer__item_text">
                    Адрес: Омск. Россия
                    <br><br>
                    Рабочее время: Пн - Пятница. 09.00 - 18.00
                    <br><br>
                    <span>Email: info@altetsa.com, altetsa@yandex.ru</span> 
                </p>
            </div>

            <div class="footer__item">
                <h3 class="footer__item_title">Меню</h3>
                <span class="footer__item_divider"></span>
                <ul class="footer__item_list">
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="price.html">Цены</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>

            <div class="footer__item">
                <h3 class="footer__item_title">Поддержка</h3>
                <span class="footer__item_divider blue"></span>
                <ul class="footer__item_list">
                    <li><a href="policies.html">Terms of Service</a></li>
                    <li><a href="policies.html">Help center</a></li>
                    <li><a href="policies.html">Policies</a></li>
                </ul>
            </div>

            <div class="footer__item">
                <h3 class="footer__item_title last">Консультация</h3>
                <ul class="footer__item_list social">
                    <li><a href="#"><svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.241656 6.12503C1.87849 5.22909 3.70566 4.48133 5.41287 3.72974C8.34993 2.49871 11.2987 1.289 14.2772 0.162784C14.8567 -0.0291122 15.8979 -0.216777 16 0.636613C15.9441 1.84458 15.7141 3.04547 15.5564 4.24636C15.156 6.88723 14.6932 9.51905 14.2419 12.1512C14.0864 13.028 12.9811 13.4819 12.2739 12.9208C10.5743 11.78 8.86159 10.6503 7.18367 9.48299C6.63403 8.928 7.14371 8.13102 7.6346 7.7347C9.03446 6.36383 10.519 5.19911 11.8457 3.7574C12.2036 2.89862 11.1462 3.62237 10.7974 3.84413C8.88102 5.15645 7.0115 6.54888 4.99099 7.70224C3.95892 8.26679 2.75602 7.78433 1.72441 7.46929C0.799442 7.08875 -0.555976 6.70536 0.241562 6.12509L0.241656 6.12503Z" fill="white"/>
                        </svg>
                        </a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
                        <path d="M0.101879 7.58727L3.96502 1.49739C4.57984 0.527059 5.89495 0.28856 6.81881 0.974652L9.89289 3.26489C10.1756 3.47399 10.5636 3.47399 10.8431 3.26162L14.9922 0.131739C15.5446 -0.286451 16.2679 0.373505 15.8997 0.958317L12.0332 7.04493C11.4184 8.01526 10.1033 8.25376 9.17944 7.56767L6.10537 5.27743C5.82262 5.06833 5.43466 5.06833 5.1552 5.28069L1.00602 8.41058C0.453672 8.82877 -0.26964 8.17208 0.101879 7.58727Z" fill="white"/>
                        </svg></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M11.2335 0H4.76649C2.13823 0 0 2.12479 0 4.73652V11.1629C0 13.7746 2.13823 15.8994 4.76649 15.8994H11.2335C13.8618 15.8994 16 13.7746 16 11.1629V4.73652C16 2.12479 13.8617 0 11.2335 0ZM14.3904 11.1629C14.3904 12.8954 12.977 14.2999 11.2335 14.2999H4.76649C3.023 14.2999 1.6096 12.8954 1.6096 11.1629V4.73652C1.6096 3.00397 3.023 1.59948 4.76649 1.59948H11.2335C12.977 1.59948 14.3904 3.00397 14.3904 4.73652V11.1629Z" fill="white"/>
                        <path d="M8 3.83765C5.7182 3.83765 3.86182 5.68237 3.86182 7.94981C3.86182 10.2173 5.7182 12.062 8 12.062C10.2818 12.062 12.1382 10.2173 12.1382 7.94981C12.1382 5.68235 10.2818 3.83765 8 3.83765ZM8 10.4625C6.60349 10.4625 5.47142 9.33758 5.47142 7.94984C5.47142 6.56211 6.60352 5.43714 8 5.43714C9.39651 5.43714 10.5286 6.56211 10.5286 7.94984C10.5286 9.33755 9.39648 10.4625 8 10.4625Z" fill="white"/>
                        <path d="M12.1461 4.854C12.6938 4.854 13.1377 4.41285 13.1377 3.86865C13.1377 3.32446 12.6938 2.8833 12.1461 2.8833C11.5985 2.8833 11.1545 3.32446 11.1545 3.86865C11.1545 4.41285 11.5985 4.854 12.1461 4.854Z" fill="white"/>
                        </svg></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copy wow animate__animated animate__zoomIn">
            <p>All Rights Reseved ©2021</p>
            <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.38627 1.62675C8.21415 0.34419 10.7292 -0.317101 13.0038 0.149711C15.2783 0.616523 16.4511 2.03467 15.6232 3.31722L8.50296 14.348C7.67508 15.6306 5.16005 16.2919 2.88547 15.8251C0.610899 15.3582 -0.561882 13.9401 0.265996 12.6575L7.38627 1.62675Z" fill="#484CE6"/>
                <path d="M20.4981 1.65214C21.326 0.36958 23.841 -0.291711 26.1156 0.175102C28.3901 0.641914 29.5629 2.06006 28.7351 3.34261L21.6148 14.3734C20.7869 15.656 18.2719 16.3173 15.9973 15.8505C13.7227 15.3836 12.5499 13.9655 13.3778 12.6829L20.4981 1.65214Z" fill="#FFBA00"/>
            </svg>
        </div>
    </footer>

    <script  src="../js/choise.min.js"></script>
    <script  src="../js/script.js"></script>
    
</body>
</html>
