.footer {
    position: relative;
    z-index: 1;
    padding-top: 172px;
    background: #fff url('../img/footer/footer-bg.png') bottom center/cover no-repeat;
    &__title {
        margin: 0 auto;
        max-width: 668px;
        font-size: 30px;
        line-height: 120%;
        color: #18172F;
        text-align: center;
    }
    &__subtitle {
        margin: 0 auto;
        max-width: 400px;
        margin-top: 14px;
        font-family: 'Calibri';
        font-size: 15px;
        line-height: 150%;
        color: #989898;
        align-items: center;
    }
    &__btn {
        display: block;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        margin-top: 47px;
        font-family: 'Calibri';
        font-weight: bold;
        font-size: 14px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: relative;
        &:hover {
            span > svg path{
             fill: #484ce6;
            }
        }
        span {
           position: absolute;
           top: 1px;
           right: 21px;
        }

    }
    &__wrapper {
        margin: 0 auto;
        margin-top: 207px;
        max-width: 1124px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        font-family: 'Calibri';
        font-size: 14px;
        line-height: 100%;
        text-transform: capitalize;
        &:nth-child(2) {
            margin-left: -84px;
        }
        &:nth-child(3) {
            padding-left: 19px;
        }

        &_title {
            font-weight: bold;
            font-family: 'Calibri';
            // align-items: center;
            // letter-spacing: 0.05em;
            color:#18172F;
            &.last {
                text-align: right;
            }
        }
        &_text {
            margin-top: 27px;
            color: #989898;
            font-family: 'Calibri';
            & > span {
                text-transform: none;
            }
        }
        &_divider {
            margin-top: 15px;
            display: block;
            width: 20px;
            height: 3px;
            background: #FFBA00;
            &.blue {
                background: #484CE6;
            }
        }
        &_list {
            margin-top: 23px;
            & > li {
                margin-bottom: 21px;
                font-family: 'Calibri';
                & > a {
                    font-family: 'Calibri';
                    color: #989898;
                    &:hover {
                        color: #18172f;
                    }
                }
            }
            &.social {
                display: flex;
                justify-content: flex-end;
                & > li> a {
                    display: flex;
                    margin-right: 20px;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    background: #484CE6;
                    border-radius: 100%;
                }
                & > li:last-child > a {
                    background: #FFBA00;
                    margin-right: 0;
                }
            }
        }
    }
    &__copy {
        max-width: 1169px;
        height: 73px;
        margin: 0 auto;
        margin-top: 17px;
        padding: 0 20px;
        border-top: 1px solid rgba(151, 151, 162, .1);;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #9797A2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > p {
            font-family: 'Calibri';
        }
    }
}