.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background: url('../img/hero/man.png') center center/contain no-repeat;
    &__wrapper{
        width: 605px;
        // height: 100%;
        margin: 0 auto;
    }
    &__title {
        margin-top: 67vh;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        span {
            color: #484CE6;
        }
    }
    &__subtitle {
        width: 330px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 14px;
        line-height: 110%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6;
    }
    &__descr {
        position: absolute;
        width: 100%;
        bottom: -75px;
        // left: 50%;
        // transform: translateX(-50%);
        text-align: center;
        margin: 0;
        font-weight: bold;
        font-size: 300px;
        line-height: 300px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.03);
        // opacity: 0.03;
        &_mob {
            display: none;
        }
    }
    &__bg {
        display: block;
        width: 800px;
        position: absolute;
        left: calc(50% - 400px);

        margin: 0 auto;
        top: 0;
    }
}