@media (max-width: 540px) {
    .header {
        background: #18172F;
        padding: 0 12px;
        height: 50px;
        &__humburger {
            margin-right: 0;
        }
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 134px;
        }
        .btn__header {
            display: none;
        }
        &__menu {
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #18172F 80%, #484CE6 10%);
        }
        &__nav {
            &-img {
                display: none;
            }
            &-items {
                flex-direction: column;
            }
            &-item {
                &::before,
                &::after {
                    display: none !important;
                }
                &:first-child {
                    border: none;
                }
                height: 83px;
                justify-content: flex-start;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,.2);
                border-top: 1px solid rgba(255,255,255,.2);
                margin-bottom: -1px;
                &.price-item > a > b {
                    color: #fff;
                }
                & > a.support-item {
                    display: block;
                }
                & > a {
                    padding: 0;
                    padding-left: 27px;
                    position: relative;
                    width: 100%;
                    padding-top: 20px;
                    & > span {
                        position: absolute;
                        right: 9%;
                        // right: 27px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

            }
        }
    }

    .hero {
        width: 100%;
        .section-number {
            display: none;
        }
        .counter-number {
            display: none;
        }
        .counter-dots {
            display: none;
        }
        &__bg {
            width: 700px;
            left: calc(50% - 350px);
        }
        &__wrapper {
            width: 283px;
        }
        &__title {
            font-size: 15px;
            line-height: 130%;
            margin-top: 72vh;
        }
        &__subtitle {
            display: none;
        }
        &__descr {
            display: none;
            &_mob {
                display: block;
                margin-top: 77px;
                text-align: center; 
            }
        }
    }
    .contacts {
        &__title {
            font-size: 18px;
            line-height: 100%;
            padding-left: 24px;
            &::before {
                width: 13px;
                height: 4px;
            }
        }
        &__form{
            &-wrapp {
                &-title {
                    top: -5px;
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 130%;
                }
            }
        }
    }

    .about {
        padding: 67px 13px 0;
        max-width: 100%;
        .title-group {
            display: none;
        }
        &__wrapper {
            flex-direction: column;
            margin: 0;
        }
        &__img {
            display: none;
            &-mob {
                display: inline;
            }
        }
        .strategy {
            display: none;
        }
        .team {
            margin-top: 50px;
            &__wrapper {
                flex-direction: column;
                margin-top: 0;
            }
            &__text {
                &-wrapper {
                    margin-left: 0;
                    & > .services__items {
                        display: none;
                    }
                }
            }
            &__img {
                margin: 0;
                width: 100%;
                height: 100%;
                min-height: unset;
            }
            &__descr {
                margin-top: 20px;
            }
        }
    }

}