<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Altetsa</title>
        <meta name="title" content="">
        <meta name="description" content="">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../css/style.min.css">
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
        <script defer src="../js/script.js"></script>
    </head>
<body>
    <header class="header contacts__header">
        <button class="header__humburger">
            <svg width="33" height="18" viewBox="0 0 33 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="33" height="2" fill="#18172F"/>
                <rect y="16" width="25" height="2" fill="#18172F"/>
                <rect y="8" width="18" height="2" fill="#18172F"/>
            </svg>
        </button>
        <button class="header__close">
            <svg width="22" height="22" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.53979" width="33" height="2" transform="rotate(45 1.53979 0)" fill="#18172F"/>
                <rect x="0.125488" y="23.3346" width="33" height="2" transform="rotate(-45 0.125488 23.3346)" fill="#18172F"/>
            </svg>
        </button>
        <a href="" class="header__logo">
            <img src="../img/header/logoB.svg" alt="Altesta">
        </a>
        <button class="btn btn__header">
            Let's Work Together
        </button>
        <nav class="header__menu">
            <ul class="header__nav-items">
                <li class="header__nav-item">
                    <a href="#"><b>О нас</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> About</a>
                </li>
                <li class="header__nav-item">
                    <a href="#"><b>Услуги</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Skills</a>
                </li>
                <li class="header__nav-item">
                    <a href="#"><b>Цены</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Price</a>
                </li>
                <li class="header__nav-item">
                    <a href="#"><b>Kонтакты</b> <span><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8366 3.7344L8.26556 0.163407C8.04769 -0.0544689 7.69434 -0.0544689 7.47646 0.163407C7.25854 0.381327 7.25854 0.734588 7.47646 0.952508L10.0949 3.57099L0.557968 3.57099C0.249836 3.57099 0 3.82082 0 4.12896C0 4.43704 0.249836 4.68692 0.557968 4.68692L10.0949 4.68692L7.47655 7.3054C7.25863 7.52332 7.25863 7.87658 7.47655 8.0945C7.58547 8.20338 7.72831 8.25792 7.8711 8.25792C8.0139 8.25792 8.15669 8.20338 8.26565 8.0945L11.8366 4.52351C12.0545 4.30559 12.0545 3.95232 11.8366 3.7344Z" fill="white"/>
                        </svg></span> <br> Contact</a>
                </li>
                <li class="header__nav-item">
                </li>
            </ul>
            <img src="../img/header/menu-pic.png" alt="меню" class="header__nav-img">
            <h3 class="hero__descr nav__descr">altetsa</h3>
        </nav>
    </header>
    <section class="about">
        <div class="title-group">
            <span class="title-shadow">about us</span>
        <h1 class="title"><span>о</span> нас</h1>
        <span class="divider"></span>
        <h2 class="subtitle">performance</h2>
        </div>

        <div class="contacts__wrapper about__wrapper">
            <img src="../img/about/about-img.png" alt="" class="contacts__img about__img">
            <div class="contacts__form-wrapp about__text-wrapper">
                <div class="contacts__form-wrapp-title">Altetsa</div>
                <h2 class="contacts__title">
                    Наша студия
                </h2>
                <p class="contacts__descr">
                    Добро пожаловать в Altetsa Group – международное агентство, использующее самые современные технологические решения в мире E-commerce. Мы давно зарекомендовали себя как профессиональная команда опытных веб - дизайнеров и разработчиков, которые сосредоточены на предоставлении высококачественных услуг в области программирования и web-дизайна. Благодаря большому накопленному опыту, мы поможем вам создать идеальный e-commerce проект.
                </p>

                <p class="contacts__descr">
                    Мы развиваем ваш бизнес с помощью универсальной E-commerce платформы Shopify. Благодаря интеграции с социальными сетями и расширенной настройке вы станете ближе к своей целевой аудитории. Именно поэтому Shopify позволяет вам достаточно быстро достигать ваших бизнес целей.
                    Наша страстная и преданная команда дизайнеров и разработчиков создаст потрясающий дизайн для вашего сайта, внедряя новейшие технологии и оптимальные решения.
                </p>
            </div>
        </div>


        <div class="strategy">
            <div class="contacts__form-wrapp about__text-wrapper">
                <div class="contacts__form-wrapp-title">Altetsa</div>
                <h2 class="contacts__title">
                    Стратегия и разработка
                </h2>
                <p class="contacts__descr mt-35">
                    Мы создаем язык общения для вашей бизнес-стратегии и разработки продукта, который может превратить миллионы посетителей вашего сайта в постоянных клиентов.
                </p>
            </div>
            <div class="strategy__items">
                
            </div>
        </div>
    </section>
</body>
</html>
