.price {
    padding-top: 126px;
    padding-bottom: 40px;
    background-color: #fff;
    .title-group {
        width: 865px;
    }
    &__wrapper {
        max-width: 1170px;
        margin-top: 123px;
        .service__item {
            margin-top: 36px;
        }
    }
    &__text-wrapper {
        max-width: 540px;
        padding-top: 17px;
    }
    &__img {
        position: absolute;
        top: 68px;
        right: -36px;
        margin: 0;
    }
    &__descr {
        margin-top: 27px;
        font-size: 15px;
    }
    &__item{
        margin-top: 26px;
        &:first-child {
            margin-top: 37px;
        }
        &-descr {
            margin-top: 19px;
            font-size: 15px;
        }
    }
    &__packages {
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 90px;
        position: relative;
        z-index: 1;
        &_text-wrapper {
            flex: 1 1 100%;
            max-width: 570px;
        }
        &_header {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }
        &_descr {
            font-size: 15px;
            margin-top: 32px;
        }
        &_items {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 58px;
        }
        &_item {
            min-height: 537px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: flex-end;
            &_title {
                padding-top: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;
                padding-right: 66px;
                & > .what {
                    font-family: 'Calibri';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: #CACAD0;
                }
                & > .item_price {
                    color: #18172F;
                    font-family: 'Calibri';
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 100%;
                    & > span {
                        margin-right: 4px;
                        font-family: 'Calibri';
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 100%;
                        color: #FFBA00;
                    }
                }
            }
            &.item-1 {
                width: 33%;
                padding: 20px 0 0 85px;
                margin-right: 30px;
                background: url('/../img/price/items/item-1.png') top left  no-repeat;
            }
            &.item-2 {
                width: 31%;
                padding: 20px 0 0 124px;
                margin-right: 30px;
                background: url('/../img/price/items/item-2.png') top left  no-repeat;
                & > .price__packages_item_title {
                    padding-right: 30px;
                }
            }
            &.item-3 {
                width: 36%;
                padding: 20px 0 0 125px;
                background: url('/../img/price/items/item-3.png') top left  no-repeat;
                & > .price__packages_item_title {
                    padding-right: 55px;
                }
            }
            &_list {
                margin-top: 75px;
                color: #9797A2;
                li {
                    position: relative;
                    padding-left: 26px;
                    margin-bottom: 20px;
                    font-family: 'Calibri';
                    font-size: 15px;
                    line-height: 130%;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 7px;
                        display: block;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                    }
                }
                &.dev_list li::before {
                    background: #989898;
                }
                &.design_list li::before {
                    background: #FFBA00;
                }
                &.conversion_list li::before {
                    background: #484CE6;
                }
                &.conversion_list {
                    margin-top: 61px;
                }
            }
            &_text {
                margin-top: 10px;
                font-family: 'Calibri';
                font-size: 15px;
                line-height: 180%;
                color: #18172F;
            }
            &_btn {
                margin-top: 44px;
                width: 100px;
                height: 40px;
                background: #484CE6;
                box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.06);
                border-radius: 5px;
                align-items: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                font-family: 'Calibri';
                font-weight: bold;
                font-size: 13px;
                line-height: 100%;
            }

        }
    }
    &__faq {
        position: relative;
        width: 1170px;
        min-height: 615px;
        margin: 0 auto;
        margin-top: 84px;
        border-radius: 5px;
        background: #FBFBFB;
        .contacts__descr {
            font-size: 15px;
            margin-top: 31px;
        }
        &__form-wrapp-title {
            text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
            color: #FBFBFB;
        }
        &_header {
            position: relative;
            z-index: 1;
            padding: 70px 100px 0 0;
            // background: url('/../img/price/faq-img.png') 60px 20px no-repeat;
        }
        &__text-wrapper {
            max-width: 470px;
            flex: 1 1 100%;
        }
        .lines {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            z-index: 0;
            span {
                display: block;
                width: 1px;
                height: 100%;
                background: rgba(72, 76, 230, 0.12);
                // opacity: 0.3;
                position: relative;
                & > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                }
                &.line-1 > img {
                    top: 127px;
                    left: -48px;
                }
                &.line-2 {
                    margin-left: -19px;
                    margin-right: 20px;
                }
                &.line-2 > img {
                    top: 33px;
                    left: -11px;
                }
                &.line-3 {
                    margin-left: 20px;
                }
                &.line-3 > img {
                    top: 152px;
                    left: -25px;
                }
                &.line-4 {
                    // margin-left: 70px;
                    // margin-right: 40px;
                }
                &.line-4 > img {
                    top: unset;
                    left: -8px;
                    bottom: -7px;
                }
                &.line-6 > img {
                    top: 18px;
                    left: -28px;                }
            }
        }
        &_list {
            position: relative;
            z-index: 1;
            padding: 0px 70px 60px;
            margin-top: 48px;
            .dot {
                position: absolute;
                width: 15px;
                height: 15px;
                bottom: 20px;
                right: 450px;
                background: #FFBA00;
                border: 4px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
                border-radius: 100%;
            }
        }
        &_item {
            position: relative;
            padding: 15px 0;
            background: #FFFFFF;    
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            &_text {
                display: none;
                padding: 30px 50px 0 35px;
                font-family: 'Calibri';
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 180%;
                color: #9797A2;
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            .trigger {
                position: absolute;
                z-index: 0;
                right: 24px;
                top: 17px;
                width: 14px;
                height: 14px;
                cursor: pointer;
                span{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #484CE6;
                    &:last-child {
                        transform: rotate(90deg);
                    }
                }
            }
            &_btn {
                background-color: unset;
                display: block;
                width: 100%;
                padding: 0px 35px;
                color: #18172F;
                font-family: 'Calibri';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                text-transform: uppercase;
                text-align: left;
                position: relative;
                z-index: 100;
            }

        }
    }
    .services {
        &__wrapper {
            margin-top: 68px;
        }
        &__text-wrapper {
            padding-left: 0;
            max-width: 610px;
        }
        &__descr {
            font-size: 15px;
            line-height: 160%;
        }
        &__item {
            margin-top: 47px;
        }
        &__img {
            top: 57px;
            right: -85px;
        }
    }




    .circle-tr {
        position: absolute;
        top: 0;
        right: 0;
    }
    .dots-l {
        position: absolute;
        left: 0;
        top: 167px;
    }
    .circle-mid {
        position: absolute;
        left: 0;
        top: 638px;
    }
    .figure-mid {
        position: absolute;
        left: 0;
        top: 1027px;
        width: 100%;
        z-index: 0;
    }


}