.services {
    padding-top: 126px;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
    .contacts__descr {
        font-size: 15px;
    }
    &__wrapp-title {
        left: 127px;
    }
    &__img {
        margin-right: unset;
        margin-left: 30px;
        margin-top: -120px;
    }
    &__wrapper {
        max-width: 1420px;
        margin-top: 116px;
    }
    &__text-wrapper {
        max-width: 725px;
        padding-left: 125px;
    }
    &__descr {
        // width: 600px;
        margin-top: 26px;
    }
    &__item {
        position: relative;
        padding-left: 21px;
        margin-top: 33px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            display: block;
            width: 5px;
            height: 5px;
            background: #484CE6;
            border-radius: 100%;

        }
        &-title {
            font-family: 'Calibri';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 150%;
            text-transform: uppercase;
        }
    }
    &__figure {
        position: absolute;
        top: 516px;
        left: 0;
        width: 100%;
        height: auto;
    }
    .circle-top {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 392px;
        width: 297px;
        background: url('../img/services/bg/circlt-rt.png') center center/contain no-repeat;
    }
    .dot-top {
        position: absolute;
        top: 130px;
        right: 167px;
        width: 67px;
        height: 67px;
        background: url('../img/services/bg/gray-rt.png') center center/contain no-repeat;
    }
    .dots-left {
        position: absolute;
        left: 0;
        top: 305px;
        display: block;
        width: 100px;
        height: 200px;
    }
}
.desing {
    &__wrapper {
        margin-top: 89px;
        max-width: 1242px;
    }
    &__img {
        max-width: 654px;
        margin-right: -17px;
        margin-top: -31px;
    }
    &__text-wrapper {
        max-width: 563px;
    }
    &__figure {
        position: absolute;
        top: 1199px;
        left: 0;
        width: 100%;
        height: auto;
    }
    &__descr {
        margin-top: 31px;
    }
}
.support {
    &__wrapper {
        max-width: 1327px;
        margin-top: 91px;
        justify-content: space-between;
    }
    &__text-wrapper {
        max-width: 664px;
        // margin-right: 25px;
        padding-left: 78px;

    }
    &__img {
        margin-right: unset;
        max-width: 654px;
        margin-top: -23px;
    }
    &__figure {
        position: absolute;
        top: 1801px;
        left: 0;
        width: 100%;
        height: auto;
    }
}
.marketing {
    &__wrapper {
        max-width: 1240px;
        margin-top: 100px;
    }
    &__img {
        margin-right: -20px;
        margin-top: -17px;
    }
    &__text-wrapper {
        max-width: 600px;
    }
    &__figure {
        position: absolute;
        top: 2293px;
        left: 0;
        width: 100%;
        height: auto;
    }
    &__descr {
        margin-top: 26px;
    }
}